# Server
PORT=3000

# Database
DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DB_NAME

# Auth
SECRET_TOKEN=your-super-secret-jwt-key

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
